### EDA for Hospital by County

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# importing the data
data = pd.read_csv('/Users/rahulparab/dsi/08-week/COVID-19-vaccinations/data/hospitals_by_county.csv')

In [3]:
# lets look at sample data
data.head()

,county,todays_date,hospitalized_covid_confirmed_patients,hospitalized_suspected_covid_patients,hospitalized_covid_patients,all_hospital_beds,icu_covid_confirmed_patients,icu_suspected_covid_patients,icu_available_beds
0,Kings,2020-03-29,2.0,5.0,NaN,NaN,1.0,0.0,2.0
1,Yolo,2020-03-29,2.0,3.0,NaN,NaN,1.0,1.0,0.0
2,San Diego,2020-03-29,121.0,211.0,NaN,NaN,77.0,39.0,205.0
3,Modoc,2020-03-29,0.0,0.0,NaN,NaN,0.0,0.0,NaN
4,Mono,2020-03-29,0.0,1.0,NaN,NaN,0.0,0.0,2.0

In [84]:
# number of null records

data.isna().sum()

county                                   0
todays_date                              0
hospitalized_covid_confirmed_patients    0
hospitalized_suspected_covid_patients    0
hospitalized_covid_patients              0
all_hospital_beds                        0
icu_covid_confirmed_patients             0
icu_suspected_covid_patients             0
icu_available_beds                       0
dtype: int64

In [5]:

data.describe()

,hospitalized_covid_confirmed_patients,hospitalized_suspected_covid_patients,hospitalized_covid_patients,all_hospital_beds,icu_covid_confirmed_patients,icu_suspected_covid_patients,icu_available_beds
count,16285.000000,16285.000000,15008.000000,14918.000000,16264.000000,16264.000000,15489.000000
mean,104.299724,21.559103,128.647122,1269.274300,28.121803,3.347885,51.682162
std,402.592315,72.837840,459.598995,3028.742126,94.422389,11.501786,139.707812
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-110.000000
25%,1.000000,0.000000,1.000000,56.000000,0.000000,0.000000,3.000000
50%,11.000000,2.000000,16.000000,351.000000,3.000000,0.000000,10.000000
75%,63.000000,15.000000,81.000000,1213.750000,18.000000,2.000000,45.000000
max,8098.000000,1350.000000,8422.000000,23989.000000,1731.000000,244.000000,1502.000000

In [6]:
data.groupby(by= 'todays_date')['hospitalized_covid_patients'].count()

todays_date
2020-03-29     0
2020-03-30     0
2020-03-31     0
2020-04-01     0
2020-04-02     0
              ..
2021-01-09    56
2021-01-10    56
2021-01-11    56
2021-01-12    56
2021-01-13    56
Name: hospitalized_covid_patients, Length: 291, dtype: int64

In [7]:
data[data['hospitalized_covid_confirmed_patients'].isna()]

,county,todays_date,hospitalized_covid_confirmed_patients,hospitalized_suspected_covid_patients,hospitalized_covid_patients,all_hospital_beds,icu_covid_confirmed_patients,icu_suspected_covid_patients,icu_available_beds
15,Glenn,2020-03-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Butte,2020-03-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Colusa,2020-03-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,Calaveras,2020-03-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,Inyo,2020-03-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,Inyo,2020-03-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,Inyo,2020-03-31,NaN,83.0,NaN,NaN,0.0,0.0,6.0
189,Glenn,2020-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
data[data['hospitalized_covid_patients'].isna()]

,county,todays_date,hospitalized_covid_confirmed_patients,hospitalized_suspected_covid_patients,hospitalized_covid_patients,all_hospital_beds,icu_covid_confirmed_patients,icu_suspected_covid_patients,icu_available_beds
0,Kings,2020-03-29,2.0,5.0,NaN,NaN,1.0,0.0,2.0
1,Yolo,2020-03-29,2.0,3.0,NaN,NaN,1.0,1.0,0.0
2,San Diego,2020-03-29,121.0,211.0,NaN,NaN,77.0,39.0,205.0
3,Modoc,2020-03-29,0.0,0.0,NaN,NaN,0.0,0.0,NaN
4,Mono,2020-03-29,0.0,1.0,NaN,NaN,0.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...
1280,Tuolumne,2020-04-20,0.0,0.0,NaN,NaN,0.0,0.0,2.0
1281,Los Angeles,2020-04-20,1791.0,602.0,NaN,NaN,625.0,93.0,607.0
1282,Santa Clara,2020-04-20,149.0,42.0,NaN,NaN,68.0,8.0,115.0
1283,Solano,2020-04-20,10.0,11.0,NaN,NaN,6.0,3.0,36.0
1284,Alameda,2020-04-20,85.0,52.0,NaN,NaN,38.0,4.0,59.0

In [9]:
# the data in hospitalized Covid patients seems incorrect as it should be a sum of confirmed and 
# suspected
data['hospitalized_covid_patients'] = data['hospitalized_covid_confirmed_patients'] + data['hospitalized_suspected_covid_patients']

### FIX where there are NULLs for  hospital beds and  ICU beds

### Approach
#### (1.) Lets take all the use cases where the Hospital and ICU beds are not null
#### (2.) Use this as the train data and set up a Linear Regression model
#### (3.) use this model once to predict the Hospital beds and once to predict the ICU beds

### Fix All  hospital beds are NULL

In [10]:
#  data set
data_train = data[data['all_hospital_beds'].notnull() & data['icu_available_beds'].notnull()][['all_hospital_beds','icu_available_beds']]
X = data_train.drop('all_hospital_beds', axis=1)
y  = data_train['all_hospital_beds']

In [11]:
# instantiate Linear Regression
from sklearn.linear_model import LinearRegression

In [12]:
# initiating Linear Regression
lr = LinearRegression()
# fitting the model
model = lr.fit(X, y)

In [13]:
# lets predict 'all_hospital_beds' based on icu_available_beds for all records where all_hospital_beds are null

data_hosp_bed_null = data[data['all_hospital_beds'].isna() & data['icu_available_beds'].notnull()][['all_hospital_beds','icu_available_beds']]

In [14]:
# Run the model on training data 
data_hosp_bed_null['all_hospital_beds'] = model.predict(data_hosp_bed_null[['icu_available_beds']]).round(0)

In [15]:
data_hosp_bed_null

      all_hospital_beds  icu_available_beds
0                 292.0                 2.0
1                 251.0                 0.0
2                4459.0               205.0
4                 292.0                 2.0
5                 272.0                 1.0
...                 ...                 ...
1952              313.0                 3.0
2002              395.0                 7.0
2004              292.0                 2.0
2037              313.0                 3.0
2066              354.0                 5.0

[1159 rows x 2 columns]

In [16]:
## update the original data frame for null hospital beds
data.loc[data['all_hospital_beds'].isna(),'all_hospital_beds']= data_hosp_bed_null['all_hospital_beds']

### Fix All  ICU beds  are NULL

In [17]:
#  data set

X = data_train.drop('icu_available_beds', axis=1)
y  = data_train['icu_available_beds']

In [18]:
# initiating Linear Regression
lr = LinearRegression()
# fitting the model
model = lr.fit(X, y)

In [19]:
# lets predict icu_available_beds  based on all_hospital_beds for all records where icu_available_beds are null

data_icu_bed_null = data[data['icu_available_beds'].isna() & data['all_hospital_beds'].notnull()][['all_hospital_beds','icu_available_beds']]

In [20]:
# Run the model on training data 
data_icu_bed_null['icu_available_beds'] = model.predict(data_icu_bed_null[['all_hospital_beds']]).round(0)

In [21]:
## update the original data frame for null ICU beds
data.loc[data['icu_available_beds'].isna(),'icu_available_beds']= data_icu_bed_null['icu_available_beds']

### There are still 216 ICU beds that have NULL values. lets manually eyeball and see how we can fix them

In [22]:
data[data['all_hospital_beds'].isna() & data['icu_available_beds'].isna()]

,county,todays_date,hospitalized_covid_confirmed_patients,hospitalized_suspected_covid_patients,hospitalized_covid_patients,all_hospital_beds,icu_covid_confirmed_patients,icu_suspected_covid_patients,icu_available_beds
3,Modoc,2020-03-29,0.0,0.0,0.0,NaN,0.0,0.0,NaN
8,Lassen,2020-03-29,0.0,2.0,2.0,NaN,0.0,0.0,NaN
12,Shasta,2020-03-29,0.0,0.0,0.0,NaN,0.0,0.0,NaN
15,Glenn,2020-03-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Trinity,2020-03-29,0.0,0.0,0.0,NaN,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...
3011,Glenn,2020-05-21,0.0,0.0,0.0,NaN,0.0,0.0,NaN
3031,Glenn,2020-05-22,0.0,0.0,0.0,NaN,0.0,0.0,NaN
3092,Glenn,2020-05-23,0.0,0.0,0.0,NaN,0.0,0.0,NaN
3135,Glenn,2020-05-24,0.0,0.0,0.0,NaN,0.0,0.0,NaN
3210,Glenn,2020-05-25,0.0,0.0,0.0,NaN,0.0,0.0,NaN

In [61]:
# understand what datasets have NULLs for all_hospital_beds
data[data['all_hospital_beds'].isna() & data['icu_available_beds'].isna()].groupby(by = 'county')['todays_date'].count()

Series([], Name: todays_date, dtype: int64)

In [59]:
data[data['county'] == 'Tuolumne' ][['all_hospital_beds' ,'icu_available_beds' ]]

       all_hospital_beds  icu_available_beds
30                 251.0                 0.0
79                 313.0                 3.0
164                333.0                 4.0
181                292.0                 2.0
234                292.0                 2.0
...                  ...                 ...
16014               84.0                 1.0
16118               84.0                 1.0
16129               84.0                 2.0
16196               84.0                 3.0
16261               84.0                 3.0

[291 rows x 2 columns]

In [60]:
# update the null to the min value
data.loc[(data['county'] == 'Tuolumne') & (data['all_hospital_beds'].isna()) , 'all_hospital_beds'] = 251.0
# update the null to the min value
data.loc[(data['county'] == 'Tuolumne') & (data['icu_available_beds'].isna()) , 'icu_available_beds'] = 0.0

### Fix icu_covid_confirmed_patients  and icu_suspected_covid_patients

In [78]:
# icu_covid_confirmed_patients
data.loc[(data['icu_covid_confirmed_patients'].isna()) , 'icu_covid_confirmed_patients'] = data['hospitalized_covid_confirmed_patients']

In [79]:
# icu_suspected_covid_patients
data.loc[(data['icu_suspected_covid_patients'].isna()) , 'icu_suspected_covid_patients'] = data['hospitalized_suspected_covid_patients']

In [77]:
### hospitalized_covid_confirmed_patients , hospitalized_suspected_covid_patients 

data.loc[(data['hospitalized_covid_confirmed_patients'].isna()) , 'hospitalized_covid_confirmed_patients'] = 0.0
data.loc[(data['hospitalized_suspected_covid_patients'].isna()) , 'hospitalized_suspected_covid_patients'] = 0.0

### Fix hospitalized_covid_patients

In [83]:
data.loc[(data['hospitalized_covid_patients'].isna()) , 'hospitalized_covid_patients'] = data['hospitalized_covid_confirmed_patients']+data['hospitalized_suspected_covid_patients']

In [85]:
data

,county,todays_date,hospitalized_covid_confirmed_patients,hospitalized_suspected_covid_patients,hospitalized_covid_patients,all_hospital_beds,icu_covid_confirmed_patients,icu_suspected_covid_patients,icu_available_beds
0,Kings,2020-03-29,2.0,5.0,7.0,292.0,1.0,0.0,2.0
1,Yolo,2020-03-29,2.0,3.0,5.0,251.0,1.0,1.0,0.0
2,San Diego,2020-03-29,121.0,211.0,332.0,4459.0,77.0,39.0,205.0
3,Modoc,2020-03-29,0.0,0.0,0.0,11.0,0.0,0.0,0.0
4,Mono,2020-03-29,0.0,1.0,1.0,292.0,0.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...
16288,Contra Costa,2021-01-13,250.0,10.0,260.0,1600.0,61.0,1.0,40.0
16289,Placer,2021-01-13,165.0,12.0,177.0,754.0,28.0,2.0,8.0
16290,San Luis Obispo,2021-01-13,57.0,2.0,59.0,460.0,7.0,0.0,16.0
16291,Yuba,2021-01-13,53.0,0.0,53.0,261.0,15.0,0.0,0.0
16292,Madera,2021-01-13,52.0,9.0,61.0,279.0,11.0,0.0,3.0

In [88]:
data.to_csv('/Users/rahulparab/dsi/08-week/COVID-19-vaccinations/clean_data/hospitals_by_county.csv', index=False)