In [18]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.image as mpimg

In [2]:
# importing the county cases mask data
data_mask = pd.read_csv('/Users/rahulparab/dsi/08-week/COVID-19-vaccinations/clean_data/cases_with_mask_use.csv')

In [3]:
# importing the hospital by county data
data_hosp = pd.read_csv('/Users/rahulparab/dsi/08-week/COVID-19-vaccinations/clean_data/hospitals_by_county.csv')

In [4]:
data_mask.head()

,county,totalcountconfirmed,totalcountdeaths,newcountconfirmed,newcountdeaths,date,NEVER,RARELY,SOMETIMES,FREQUENTLY,ALWAYS,population
0,Santa Clara,151.0,6.0,151,6,2020-03-18,0.015,0.014,0.04,0.168,0.764,1927852
1,Santa Clara,183.0,8.0,32,2,2020-03-19,0.015,0.014,0.04,0.168,0.764,1927852
2,Santa Clara,246.0,8.0,63,0,2020-03-20,0.015,0.014,0.04,0.168,0.764,1927852
3,Santa Clara,269.0,10.0,23,2,2020-03-21,0.015,0.014,0.04,0.168,0.764,1927852
4,Santa Clara,284.0,13.0,15,3,2020-03-22,0.015,0.014,0.04,0.168,0.764,1927852

In [5]:
data_county_pop = data_mask[['county', 'date' , 'population']]

In [6]:
# merge the hospital county and county population data together.

In [7]:
data_hosp

,county,todays_date,hospitalized_covid_confirmed_patients,hospitalized_suspected_covid_patients,hospitalized_covid_patients,all_hospital_beds,icu_covid_confirmed_patients,icu_suspected_covid_patients,icu_available_beds
0,Kings,2020-03-29,2.0,5.0,7.0,292.0,1.0,0.0,2.0
1,Yolo,2020-03-29,2.0,3.0,5.0,251.0,1.0,1.0,0.0
2,San Diego,2020-03-29,121.0,211.0,332.0,4459.0,77.0,39.0,205.0
3,Modoc,2020-03-29,0.0,0.0,0.0,11.0,0.0,0.0,0.0
4,Mono,2020-03-29,0.0,1.0,1.0,292.0,0.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...
16288,Contra Costa,2021-01-13,250.0,10.0,260.0,1600.0,61.0,1.0,40.0
16289,Placer,2021-01-13,165.0,12.0,177.0,754.0,28.0,2.0,8.0
16290,San Luis Obispo,2021-01-13,57.0,2.0,59.0,460.0,7.0,0.0,16.0
16291,Yuba,2021-01-13,53.0,0.0,53.0,261.0,15.0,0.0,0.0
16292,Madera,2021-01-13,52.0,9.0,61.0,279.0,11.0,0.0,3.0

In [8]:
# lets rename column name for todays_date

data_hosp.rename(columns = {'todays_date':'date'},inplace = True)

In [9]:
data_hosp

,county,date,hospitalized_covid_confirmed_patients,hospitalized_suspected_covid_patients,hospitalized_covid_patients,all_hospital_beds,icu_covid_confirmed_patients,icu_suspected_covid_patients,icu_available_beds
0,Kings,2020-03-29,2.0,5.0,7.0,292.0,1.0,0.0,2.0
1,Yolo,2020-03-29,2.0,3.0,5.0,251.0,1.0,1.0,0.0
2,San Diego,2020-03-29,121.0,211.0,332.0,4459.0,77.0,39.0,205.0
3,Modoc,2020-03-29,0.0,0.0,0.0,11.0,0.0,0.0,0.0
4,Mono,2020-03-29,0.0,1.0,1.0,292.0,0.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...
16288,Contra Costa,2021-01-13,250.0,10.0,260.0,1600.0,61.0,1.0,40.0
16289,Placer,2021-01-13,165.0,12.0,177.0,754.0,28.0,2.0,8.0
16290,San Luis Obispo,2021-01-13,57.0,2.0,59.0,460.0,7.0,0.0,16.0
16291,Yuba,2021-01-13,53.0,0.0,53.0,261.0,15.0,0.0,0.0
16292,Madera,2021-01-13,52.0,9.0,61.0,279.0,11.0,0.0,3.0

In [10]:
# Merge DataFrames
df= pd.merge(data_hosp, data_county_pop , on = [ 'county' , 'date'], how = 'left')

In [23]:
df.isna().sum()

county                                   0
date                                     0
hospitalized_covid_confirmed_patients    0
hospitalized_suspected_covid_patients    0
hospitalized_covid_patients              0
all_hospital_beds                        0
icu_covid_confirmed_patients             0
icu_suspected_covid_patients             0
icu_available_beds                       0
population                               0
dtype: int64

In [22]:
df.fillna('0', inplace = True)

In [12]:
df

,county,date,hospitalized_covid_confirmed_patients,hospitalized_suspected_covid_patients,hospitalized_covid_patients,all_hospital_beds,icu_covid_confirmed_patients,icu_suspected_covid_patients,icu_available_beds,population
0,Kings,2020-03-29,2.0,5.0,7.0,292.0,1.0,0.0,2.0,152940.0
1,Yolo,2020-03-29,2.0,3.0,5.0,251.0,1.0,1.0,0.0,220500.0
2,San Diego,2020-03-29,121.0,211.0,332.0,4459.0,77.0,39.0,205.0,3338330.0
3,Modoc,2020-03-29,0.0,0.0,0.0,11.0,0.0,0.0,0.0,NaN
4,Mono,2020-03-29,0.0,1.0,1.0,292.0,0.0,0.0,2.0,14444.0
...,...,...,...,...,...,...,...,...,...,...
16288,Contra Costa,2021-01-13,250.0,10.0,260.0,1600.0,61.0,1.0,40.0,1153526.0
16289,Placer,2021-01-13,165.0,12.0,177.0,754.0,28.0,2.0,8.0,398329.0
16290,San Luis Obispo,2021-01-13,57.0,2.0,59.0,460.0,7.0,0.0,16.0,283111.0
16291,Yuba,2021-01-13,53.0,0.0,53.0,261.0,15.0,0.0,0.0,78668.0
16292,Madera,2021-01-13,52.0,9.0,61.0,279.0,11.0,0.0,3.0,157327.0

In [13]:
df_raw = df[['county','date','hospitalized_covid_patients','population']]

In [14]:
df_raw

                county        date  hospitalized_covid_patients  population
0                Kings  2020-03-29                          7.0    152940.0
1                 Yolo  2020-03-29                          5.0    220500.0
2            San Diego  2020-03-29                        332.0   3338330.0
3                Modoc  2020-03-29                          0.0         NaN
4                 Mono  2020-03-29                          1.0     14444.0
...                ...         ...                          ...         ...
16288     Contra Costa  2021-01-13                        260.0   1153526.0
16289           Placer  2021-01-13                        177.0    398329.0
16290  San Luis Obispo  2021-01-13                         59.0    283111.0
16291             Yuba  2021-01-13                         53.0     78668.0
16292           Madera  2021-01-13                         61.0    157327.0

[16293 rows x 4 columns]

In [15]:
df_raw.groupby(by = ['county','date'])['hospitalized_covid_patients'].sum()

county   date
Alameda  2020-03-29    127.0
         2020-03-30    148.0
         2020-03-31    150.0
         2020-04-01    128.0
         2020-04-02    133.0
                       ...
Yuba     2021-01-09     56.0
         2021-01-10     56.0
         2021-01-11     54.0
         2021-01-12     55.0
         2021-01-13     53.0
Name: hospitalized_covid_patients, Length: 16293, dtype: float64

In [24]:
df_raw.to_csv('/Users/rahulparab/dsi/08-week/COVID-19-vaccinations/clean_data/hospitals_by_county_with_pop.csv', index=False)